@charset "utf-8";

.bloco1 {
    background-color: #fff;
}

.bloco2 {
    background-color: #0E4989;
}

.bloco3 {
    background-color: #92ACCE;
}

.bloco4 {
    background-color: #b73061;
}
.texto-azul {
    color: #0E4989;
}
@media screen and (max-width: 980px) {}