@charset "utf-8";

p {
    overflow-wrap: break-word;
    font-family: figtree;
    font-size: 1em;
}

h2,
h3,
h4,
h5 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: bold;
    font-family: figtree-bold !important;
}

body {
    background:
        linear-gradient(to bottom right, #dce6f9, #f8dcec) fixed;
}

@media screen and (max-width: 980px) {}