@charset "utf-8";

p {
    word-wrap: break-word;
    font-family: figtree;
    font-size: 1em;
}

h2,
h3,
h4,
h5 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: bold;
    font-family: figtree-bold !important;
}

@media screen and (max-width: 980px) {}