@charset "utf-8";

body {
    background: url('../img/asset02.png') 100% 90%,
        url('../img/asset01.png') 0% 30%,
        linear-gradient(to bottom right, #dce6f9, #f8dcec);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
}

.painel1 {
    display: flex;
    background: url(../img/painel.png);
    width: 100%;
    height: 259px;
    background-repeat: no-repeat;
    margin-top: 125px;
    margin-bottom: 75px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bt-painel1 {
    border: none;
    background-repeat: no-repeat;
    position: relative;
    transition: transform 0.3s ease;
}

.bt1-painel1 {
    width: 186px;
    height: 131px;
    background: url(../img/bt01.png);
    top: -160px;
    right: 66px;
}

.bt2-painel1 {
    width: 198px;
    height: 118px;
    background: url(../img/bt02.png);
    top: -85px;
    right: 85px;
}

.bt3-painel1 {
    width: 186px;
    height: 131px;
    background: url(../img/bt03.png);
    top: -125px;
    right: -2px;
}

.bt1-painel1:hover {
    background: url(../img/bt01b.png);
}

.bt2-painel1:hover {
    background: url(../img/bt02b.png);
}

.bt3-painel1:hover {
    background: url(../img/bt03b.png);
}

.bt-painel1:hover {
    transform: scale(1.1);
}

.modal-body {
    background: url('../img/asset04.png') 100% 10%,
        url('../img/asset03.png') -4% 90%,
        linear-gradient(to bottom right, #dce6f9, #f8dcec);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
}

/* INICIO PAINEL GAITINHA */
.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: #92ACCE;
    color: #ffffff;
}

.accordion-body {
    border-left: 3px solid #92ACCE;
}

/* FIM PAINEL GAITINHA */
/* INICIO TABELAS */
table {
    background-color: #fff;
    border-radius: 20px;
}

thead {
    background: linear-gradient(to right, #92ACCE, #004788);
    color: #fff;
    text-align: center;
}

thead th {
    border-right: unset;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-width: 2px;
    border-color: #92ACCE;
}

.table>:not(:first-child) {
    border-top: none !important;
    margin-top: 10px;
}

thead th {
    border-right: 2px solid #fff;
}

/* FIM TABELAS */
@media screen and (max-width: 768px) {
    .painel1 {
        display: flex;
        scale: 1.0;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        background: none;
        height: 330px;
        margin-top: 35px;
        margin-bottom: 60px;
    }

    .bt-painel1 {
        position: unset;
    }

    body {
        background:
            none,
            none,
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
    }

    .modal-body {
        background:
            none,
            none,
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
    }
}