.offcanvas-body .espaco {
    padding-left: 30px;
}

.figura-1 {
    margin-left: -5%;
    margin-top: 4%;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
}

.flip-card-inner {
    position: relative;
    width: 284px;
    height: 356px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: url('../img/card_verso.png') no-repeat;
}

.flip-card {
    background-color: transparent;
    width: 284px;
    height: 356px;
    perspective: 1000px;
    cursor: pointer;
    margin: 20px;
}

.flip-card-back {
    padding: 18px;
    width: 285px;
    height: 356px;
}

.mob1{
    padding-bottom: 5%;
}















.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}


@media screen and (max-width:820px) {

    p,
    li,
    th,
    td,
    a,
    .figure-caption,
    .botao,
    .tab-pane {
        font-size: .8em;
    }

    .figura-1 {
        margin-left: -5%;
        margin-top: 18%;
    }

    .mob1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }






}

@media screen and (max-width:768px) {
    .figura-1 {
        margin-left: -5%;
        margin-top: 32%;
    }


}








@media screen and (max-width:500px) {
    .figura-1 {
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 5%;
    }

}