body {
    background: url('../img/asset01.png') 100% 30%,
        url('../img/asset02.png') 0% 90%,
        linear-gradient(to bottom right, #dce6f9, #f8dcec);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
}

/* Remove a borda esquerda só das células com rowspan (Indústria e Comércio e Serviços) */
.tabela-2 tbody td[rowspan] {
    border-left: 1px solid transparent;
}

/* Garante que as outras células tenham a borda esquerda visível */
.tabela-2 tbody td:not([rowspan]) {
    border-left: 5px solid #fff
        /* ou a cor que você usa para as divisões */
}





.offcanvas-body .espaco {
    padding-left: 30px;
}

.figura-1 {
    margin-left: -5%;
    margin-top: 4%;
}

.ilustracao {
    border-radius: 20px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
}

.flip-card-inner {
    position: relative;
    width: 284px;
    height: 356px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: url('../img/card_verso.png') no-repeat;
}

.flip-card {
    background-color: transparent;
    width: 284px;
    height: 356px;
    perspective: 1000px;
    cursor: pointer;
    margin: 20px;
    align-content: center;
}

.flip-card-back {
    padding: 18px;
    width: 285px;
    height: 356px;
    align-content: center;
}

.mob1 {
    padding-bottom: 5%;
}

.pessoa-fisica {
    background: url('../img/info01_1.png');
    width: 282px;
    height: 535px;
    margin-top: 8%;
}

.pessoa-juridica {
    background: url('../img/info01_2.png');
    width: 282px;
    height: 606px;
}

.infografico-1 {
    display: flex;
    gap: 50px;
    margin-bottom: 5%;
}

.texto-1 {
    color: #fff;
    padding: 20px;
    padding-top: 17%;
}

.texto-2 {
    color: #fff;
    padding: 7px;
    padding-top: 78%;
}


.info-google {
    background: url('../img/info02_1.png');
    width: 811px;
    height: 371px;
    margin-bottom: 3%;
}

.texto-google {
    padding-left: 50%;
    padding-top: 10%;
    padding-right: 2%;
}

.info-natura {
    background: url('../img/info02_2.png');
    width: 811px;
    height: 371px;
    margin-bottom: 3%;
}

.texto-natura {
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 45%;
}

.info-nestle {
    background: url('../img/info02_3.png');
    width: 811px;
    height: 371px;
    margin-bottom: 3%;
}

.texto-nestle {
    padding-left: 50%;
    padding-top: 4%;
    padding-right: 2%;
}

.info-fiat {
    background: url('../img/info02_4.png');
    width: 811px;
    height: 371px;
    margin-bottom: 3%;
}

.texto-fiat {
    padding-left: 3%;
    padding-top: 9%;
    padding-right: 45%;
}

.info-avon {
    background: url('../img/info02_5.png');
    width: 811px;
    height: 371px;
    margin-bottom: 3%;
}

.texto-avon {
    padding-left: 50%;
    padding-top: 11%;
    padding-right: 2%;
}

.infografico-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.infografico-mob {
    display: none;
}

.infografico-visoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-arcor {
    background: url('../img/info03_1.png');
    width: 630px;
    height: 241px;
    margin-bottom: 3%;
}

.texto-arcor {
    padding-left: 35%;
    padding-top: 16%;
    padding-right: 2%;
}

.info-bndes {
    background: url('../img/info03_2.png');
    width: 629px;
    height: 241px;
    margin-bottom: 3%;
    margin-left: 30%;
}

.texto-bndes {
    padding-left: 4%;
    padding-top: 17%;
    padding-right: 27%;
}

.info-consul {
    background: url('../img/info03_3.png');
    width: 629px;
    height: 241px;
    margin-bottom: 3%;
}

.texto-consul {
    padding-left: 35%;
    padding-top: 16%;
    padding-right: 2%;
}

.info-itau {
    background: url('../img/info03_4.png');
    width: 629px;
    height: 241px;
    margin-bottom: 3%;
    margin-left: 30%;
}

.texto-itau {
    padding-left: 4%;
    padding-top: 17%;
    padding-right: 28%;
}


.paragrafo-centralizado {
    margin-top: 6%;
}

.figura-parag {
    margin-left: 20%;
}

.figura-parag-2 {
    margin-left: 20%;
}

.game-body .slot {
    min-height: 150px;
}

#slots .row,
#cardPile {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 25px 0;
    align-content: center;
}




.bg-escuro .accordion-body p {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


.bg-escuro .texto-botao {
    color: #fff;
}

.bg-escuro .flip-card-back p {
    color: #000;
}

.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}

.bg-escuro .infografico-visoes p {
    color: #000;
}


@media screen and (max-width:1440px) {
    body {
        background: url('../img/asset01.png') 100% 30%,
            url('../img/asset02.png') 0% 90%,
            linear-gradient(to bottom right, #c8d1e2, #e5ebf7, #f8dcec);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-attachment: fixed, fixed, fixed;
        background-size: auto, 18%, auto;
    }
}


@media screen and (max-width:1400px) {
    body {
        background: url('../img/asset01.png') 100% 30%,
            url('../img/asset02.png') 0% 90%,
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-attachment: fixed, fixed, fixed;
        background-size: auto, 15%, auto;
    }
}

@media screen and (max-width:1366px) {
    body {
        background: url('../img/asset01.png') 100% 30%,
            url('../img/asset02.png') 0% 90%,
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-attachment: fixed, fixed, fixed;
        background-size: auto, 15%, auto;
    }
}

@media screen and (max-width:1024px) {
    body {
        background:
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}


@media screen and (max-width:820px) {

    p,
    li,
    th,
    td,
    a,
    .figure-caption,
    .botao,
    .tab-pane {
        font-size: .8em;
    }

    .figura-1 {
        margin-left: -5%;
        margin-top: 18%;
    }

    .mob1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .caixa-1,
    .caixa-2 {
        margin-top: -10%;
    }

    .margem-texto {
        margin-top: 5%;
    }

    .infografico-mob {
        display: none;
    }

    .infografico-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .info-google {
        background: url('../img/info02_1_700.png');
        width: 700px;
        height: 320px;
        margin-bottom: 3%;
    }

    .info-natura {
        background: url('../img/info02_2_700.png');
        width: 700px;
        height: 320px;
        margin-bottom: 3%;
    }

    .info-nestle {
        background: url('../img/info02_3_700.png');
        width: 700px;
        height: 320px;
        margin-bottom: 3%;
    }

    .info-fiat {
        background: url('../img/info02_4_700.png');
        width: 700px;
        height: 320px;
        margin-bottom: 3%;
    }

    .info-avon {
        background: url('../img/info02_5_700.png');
        width: 700px;
        height: 320px;
        margin-bottom: 3%;
    }

    .info-bndes,
    .info-itau {
        margin-left: 12%;
    }

    .texto-2 {
        color: #fff;
        padding: 7px;
        padding-top: 90%;
    }

    .img-mobile {
        display: none;
    }

    .marcador-padrao li {
        background: url('../../assets/images/marcador_padrao.svg') no-repeat left top 3px / 14px;
        list-style: none;
        padding-left: 30px;
    }

    .game-body .slot {
        min-height: 150px;
    }

}

@media screen and (max-width:768px) {
    .figura-1 {
        margin-left: -5%;
        margin-top: 32%;
    }

    .infografico-mob {
        display: none;
    }

    .infografico-2 {
        display: block;
    }


    .figura-parag-2 {
        margin-left: 11%;
    }

    .texto-2 {
        color: #fff;
        padding: 7px;
        padding-top: 90%;
    }

    .marcador-padrao li {
        background: url('../../assets/images/marcador_padrao.svg') no-repeat left top 3px / 14px;
        list-style: none;
        padding-left: 30px;
    }



}


@media screen and (max-width:500px) {
    .figura-1 {
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .infografico-1 {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
    }

    .texto-2 {
        color: #fff;
        padding: 7px;
        padding-top: 90%;
    }

    .caixa-1,
    .caixa-2 {
        margin-top: -21%;
    }

    .margem-texto {
        margin-top: 5%;
    }

    .info-google-mob,
    .info-natura-mob,
    .info-nestle-mob,
    .info-fiat-mob,
    .info-avon-mob {
        background: unset;
        width: unset;
        height: unset;
        margin-bottom: 2%;
    }

    .infografico-mob {
        display: block;
    }

    .infografico-2 {
        display: none;
    }

    .figura-parag-2 {
        margin-left: 20%;
    }

    .info-bndes,
    .info-itau {
        margin-left: unset;
    }

    .infografico-visoes {
        transform: scale(0.5);
        margin-top: -61%;
        margin-left: -36%;
        margin-bottom: -57%;
    }

    .infografico-visoes p {
        font-size: 1.1em;
    }

    .img-mobile {
        display: block;
    }

    .game-body .slot .card {
        color: var(--cor-primaria);
        background: unset;
        border-color: unset;
        border: unset;
        background-color: #4ba69d;
        color: #fff;
    }
}

@media screen and (max-width: 390px) {

    .info-bndes,
    .info-itau {
        margin-left: unset;
    }

    .infografico-2 {
        display: none;
    }

    .infografico-mob {
        display: block;
    }

}