@charset "utf-8";


body {
    background: url('../img/asset_dir.png') 100% 70%,
        url('../img/asset_esq.png') 0% 10%,
        linear-gradient(to bottom right, #dce6f9, #f8dcec);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
}


.infografico-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.info-vertical {
    background: url('../img/01.png');
    width: 811px;
    height: 372px;
    margin-bottom: 3%;
}

.texto-vertical {
    padding-left: 50%;
    padding-top: 10%;
    padding-right: 2%;
}

.info-horizontal {
    background: url('../img/02.png');
    width: 811px;
    height: 372px;
    margin-bottom: 3%;
}

.texto-horizontal {
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 45%;
}

.info-em-y {
    background: url('../img/03.png');
    width: 811px;
    height: 372px;
    margin-bottom: 3%;
}

.texto-em-y {
    padding-left: 50%;
    padding-top: 4%;
    padding-right: 2%;
}

.info-paralelo {
    background: url('../img/04.png');
    width: 811px;
    height: 372px;
    margin-bottom: 3%;
}

.texto-paralelo {
    padding-left: 3%;
    padding-top: 9%;
    padding-right: 45%;
}

.infografico-mob {
    display: none;
}














/* Teste Soft Skills */
.mostrar-resultado {
    display: none;
    border: 4px solid #0E4989;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

label.opt {
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
    font-weight: normal;
    font-size: 17px;
}

.opc {
    background-color: #fff;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 0;
    transition: 400ms;
    font-size: 17px;
}

.opc:hover {
    background-color: #0E4989;
    color: #fff;
}

.quiz {
    border: 6px solid #E8E8E8;
    border-left: 7px solid #E8E8E8;
    border-top: 7px solid #E8E8E8;
    max-width: 100%;
    width: 800px;
    margin: auto;
}

.marcado {
    background: #0E4989;
    color: #fff;
    transition: all 0.4s;
}

.postit01 {
    background: url("../img/postit01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.postit02 {
    background: url("../img/postit02.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.postit-titulo1 {
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 25pt;
    text-align: center;
    margin: 0;
}

.postit-titulo2 {
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 25pt;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.postit01,
.postit02 p {
    text-align: center;
    margin-top: 5px;
}

.paragrafo-espaco {
    margin-top: 12%;
}

.paragrafo-espaco2 {
    margin-top: 7%;
}














.bg-escuro .bt-tooltip {
    color: #fff;
}

.bg-escuro .tab-content p {
    color: #fff;
}

.bg-escuro .figure-caption {
    color: #fff;
}

.bg-escuro .tab-content li {
    color: #fff;
}

.bg-escuro .postit01 p {
    color: #000;
}

.bg-escuro .postit02 p {
    color: #000;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body * {
    color: #000;
}


/* pulse */
.painel-1 {
    position: relative;
    width: 773px;
    height: 892px;
    margin: 0 auto;
    background-image: url('../img/painel01.png');
}

.bt1-pulse {
    top: 8%;
    left: 37%;
}

.bt2-pulse {
    top: 21.5%;
    left: 4%;
}

.bt3-pulse {
    top: 31.5%;
    left: 4%;
}

.bt4-pulse {
    top: 45%;
    left: 4%;
}

.bt5-pulse {
    top: 62%;
    left: 4%;
}

.bt6-pulse {
    top: 17.5%;
    left: 48%;
}

.bt7-pulse {
    top: 28%;
    left: 48%;
}

.bt8-pulse {
    top: 40%;
    left: 48%;
}











.pulse-button {
    position: relative;
    width: 37px;
    height: 37px;
    border: none;
    box-shadow: 0 0 0 0 rgba(102, 164, 243, 0.702);
    border-radius: 50%;
    /* background-color: #e84c3d; */
    background-image: url('../img/bt_mais.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

.pulse-button.visitado2 {
    background-image: none;
    background-color: #66a4f3;
    animation: none;
}

.botaoCheck.pulse-button.visitado2::after {
    top: -1px;
    right: -7px;
}


.botaoCheck.visitado2::after {
    content: '';
    position: absolute;
    height: 45px;
    width: 45px;
    background: url('../img/check.svg') no-repeat;
    background-size: cover;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 35px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 35px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 35px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 35px rgba(232, 76, 61, 0);
    }
}







@media screen and (max-width:1440px) {

    body {
        background: url('../img/asset_dir.png') 100% 70%,
            url('../img/asset_esq.png') 0% 10%,
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-attachment: fixed, fixed, fixed;
        background-size: 17%, auto, auto;
    }
}

@media screen and (max-width:1400px) {

    body {
        background: url('../img/asset_dir.png') 100% 70%,
            url('../img/asset_esq.png') 0% 10%,
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-attachment: fixed, fixed, fixed;
        background-size: 16%, auto, auto;
    }
}

@media screen and (max-width:1366px) {

    body {
        background: url('../img/asset_dir.png') 100% 70%,
            url('../img/asset_esq.png') 0% 10%,
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-attachment: fixed, fixed, fixed;
        background-size: 14%, 14%, auto;
    }
}


@media screen and (max-width:1024px) {
    body {
        background:
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}


@media screen and (max-width: 820px) {


    .infografico-mob {
        display: none;
    }

    .infografico-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .info-vertical {
        background: url('../img/01_700.png');
        width: 700px;
        height: 321px;
        margin-bottom: 3%;
    }

    .info-horizontal {
        background: url('../img/02_700.png');
        width: 700px;
        height: 321px;
        margin-bottom: 3%;
    }

    .info-em-y {
        background: url('../img/03_700.png');
        width: 700px;
        height: 321px;
        margin-bottom: 3%;
    }

    .info-paralelo {
        background: url('../img/04_700.png');
        width: 700px;
        height: 321px;
        margin-bottom: 3%;
    }

    .texto-vertical {
        padding-left: 47%;
        padding-top: 4%;
        padding-right: 2%;
    }

    .texto-em-y {
        padding-left: 47%;
        padding-top: 2%;
        padding-right: 1%;
    }

    .texto-paralelo {
        padding-left: 3%;
        padding-top: 9%;
        padding-right: 47%;
    }

    .paragrafo-espaco {
        margin-top: 8%;
    }

    .paragrafo-espaco2 {
        margin-top: 4%;
    }

    .painel-1 {
        scale: 0.95;
        margin-left: -6px;
        margin-top: -25px;
        margin-bottom: 5px;
    }

}


@media screen and (max-width: 768px) {
    .texto-vertical {
        padding-left: 47%;
        padding-top: 9%;
        padding-right: 2%;
    }

    .texto-horizontal {
        padding-left: 3%;
        padding-top: 8%;
        padding-right: 45%;
    }

    .texto-em-y {
        padding-left: 47%;
        padding-top: 7%;
        padding-right: 1%;
    }

    .infografico-mob {
        display: none;
    }

    .infografico-2 {
        display: block;
    }

    .paragrafo-espaco {
        margin-top: 10%;
    }

    .paragrafo-espaco2 {
        margin-top: 7%;
    }

    .painel-1 {
        scale: 0.95;
        margin-left: -34px;
        margin-top: -25px;
        margin-bottom: 5px;
    }

}



@media screen and (max-width: 500px) {

    .info-vertical-mob,
    .info-horizontal-mob,
    .info-em-y-mob,
    .info-paralolo-mob {
        background: unset;
        width: unset;
        height: unset;
        margin-bottom: 2%;
    }

    .infografico-mob {
        display: block;
    }

    .infografico-2 {
        display: none;
    }

    .postit02 {
        margin-top: 3%;
    }

    .caixa-1 {
        margin-top: -20%;
    }

    .caixa-2 {
        margin-top: -30%;
        height: 520px;
    }

    .paragrafo-espaco,
    .paragrafo-espaco2 {
        margin-top: unset;
    }

    .painel-1 {
        scale: 0.5;
        margin-left: -204px;
        margin-bottom: -148px;
        margin-top: -181px;
    }

}