@charset "utf-8";

body {
    background: url('../img/asset_dir.png') 100% 90%,
        url('../img/asset_esq.png') 0% 30%,
        linear-gradient(to bottom right, #dce6f9, #f8dcec);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
}

/* .bg-escuro .tab-pane * {
    color: #ffffff;
}

.bg-escuro i{
    color: #ffffff;
} */

.destaque-novo {
    background: #f8dcec !important;
    border-color: rgba(14, 73, 137, 0.5) !important;
}

/* INICIO PAINEL GAITINHA */
.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: #92ACCE;
    color: #ffffff;
}

.accordion-body {
    border-left: 3px solid #92ACCE;
}

/* FIM PAINEL GAITINHA */

/* INICIO PAINEL ABAS */
.nav-tabs .nav-link {
    background-color: #92ACCE !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    border-top-color: var(--cor-terciaria) !important;
    border-left-color: var(--cor-terciaria) !important;
    border-right-color: var(--cor-terciaria) !important;
}

.tab-content {
    border-color: var(--cor-terciaria) !important;
}

/* INICIO PAINEL ABAS */


/* INICIO PAINEL 1 */
.painel1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
}


.painel1 .topo-bt-painel1 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.painel1 .meio-bt-painel1 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.painel1 .fundo-bt-painel1 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.bt-painel1 {
    border: none;
    transition: transform 0.3s ease;
    margin: 20px;
}

.bt1-painel1 {
    background: url('../img/botao_01.png');
    background-repeat: no-repeat;
    width: 227px;
    height: 179px;
}

.bt2-painel1 {
    background: url('../img/botao_02.png');
    background-repeat: no-repeat;
    width: 216px;
    height: 171px;
}

.bt3-painel1 {
    background: url('../img/botao_03.png');
    background-repeat: no-repeat;
    width: 206px;
    height: 171px;
}

.bt4-painel1 {
    background: url('../img/botao_04.png');
    background-repeat: no-repeat;
    width: 228px;
    height: 172px;
}

.bt5-painel1 {
    background: url('../img/botao_05.png');
    background-repeat: no-repeat;
    width: 207px;
    height: 176px;
}

.bt6-painel1 {
    background: url('../img/botao_06.png');
    background-repeat: no-repeat;
    width: 206px;
    height: 194px;
}

.bt7-painel1 {
    background: url('../img/botao_07.png');
    background-repeat: no-repeat;
    width: 214px;
    height: 192px;
}

.bt-painel1::after {
    content: "";
    color: #0E4989;
    background-color: #fff;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid #0E4989;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 72%;
    display: block;
    position: relative;
    top: 88px;
    left: 30px;
}

.bt1-painel1::after {
    content: "Domínio do conhecimento";
}

.bt2-painel1::after {
    content: "Sinceridade";
}

.bt3-painel1::after {
    content: "Objetividade";
}

.bt4-painel1::after {
    content: "Linguagem";
}

.bt5-painel1::after {
    content: "Empatia";
}

.bt6-painel1::after {
    content: "Comunicação eficaz";
}

.bt7-painel1::after {
    content: "Respeito e colaboração";
}

.bt-painel1:hover {
    transform: scale(1.1);
}

/* FIM PAINEL 1 */

@media screen and (max-width: 768px) {
    body {
        background:
            none,
            none,
            linear-gradient(to bottom right, #dce6f9, #f8dcec);
    }

    .bt-painel1::after {
        width: 75%;
    }
}

@media screen and (max-width: 767px) {
    .painel1 .topo-bt-painel1 {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .painel1 .meio-bt-painel1 {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .painel1 .fundo-bt-painel1 {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}