@charset "utf-8";

.bloco-paralax {
    width: 100%;
    height: 400px;
    /* background: url(../img/); */
    background-color: #92ACCE;
    background-size: cover;
    background-attachment: fixed !important;
}

@media screen and (max-width: 980px) {}